apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: $CADATA
    server: "$TUNNEL_URL"
    insecure-skip-tls-verify: $NOTLSVERIFY
  name: k3d-vkdr-local
contexts:
- context:
    cluster: k3d-vkdr-local
    user: superadmin
  name: k3d-vkdr-local
current-context: k3d-vkdr-local
kind: Config
preferences: {}
users:
- name: superadmin
  user:
    token: $SA_TOKEN