name: GraalVM Native Image builds
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  build:
    name: VKDR on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            os-name: linux
            arch: amd64
          - os: ubuntu-24.04-arm
            os-name: linux
            arch: arm64
          - os: macos-15-intel
            os-name: osx
            arch: amd64
          # macos-latest = macos 15 arm (M1+)
          - os: macos-latest
            os-name: osx
            arch: arm64
    steps:
      - uses: actions/checkout@v4

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Build native binary and run VKDR CLI
        run: |
          ./mvnw -Pnative native:compile
          mv ./target/vkdr ./target/vkdr-${{ matrix.os-name }}-${{ matrix.arch }}
      
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: vkdr-${{ matrix.os-name }}-${{ matrix.arch }}
          path: ./target/vkdr-${{ matrix.os-name }}-${{ matrix.arch }}

  release:
    name: VKDR Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Release version and assets
        uses: softprops/action-gh-release@v2
        with:
          files: '**/vkdr-*'
          token: ${{ secrets.GITHUB_TOKEN }}
